<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SLS</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>

    <nav>
      <ul id = "top">
        <li id = brand>SLS</li>
        <li> <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTq8sMo81Iy8BpE4jA3mGdK_slN1Mpeul27c89T0dZR3WV_r9EY">Who</a></li>
        <li> <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTq8sMo81Iy8BpE4jA3mGdK_slN1Mpeul27c89T0dZR3WV_r9EY">Who</a>What</li>
        <li> <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTq8sMo81Iy8BpE4jA3mGdK_slN1Mpeul27c89T0dZR3WV_r9EY">Who</a>Why</li>
      </ul>
    </nav>

    <div id="header">
      <h1 id ="sls">SLS</h1>
    </div>
    <div class="slidesContainer">
      <img class="images"  src="https://i.redd.it/5sz4marz43241.jpg" alt="" height="100">
      <img class="images" src="https://ak6.picdn.net/shutterstock/videos/22205866/thumb/1.jpg" alt="professionals at work" height="100">
    </div>


    <div class="infoBold">
      <p>SLS is the leading provider in tech for sollutions an quality assurance </p>
    </div>


    <div class="info">
      <p class="para"id="leftP">As the world and technology continue to evolve and progress, SLS has been powered powered by a team of motivated profesionals in orer to ensure that top comays are provided with only the best services. We provide consulting and onbaording for Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <button type="button" name="button" <a href="put arrow here"></a>> Learn More</button > </p>
      <p class="para"id="rightP">Start or finish we are here to provide your company with the utmost teech Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <button type="button" name="button" <a href="put arrow here"></a>> Learn More</button > </p>
    </div>
<p id = "assets">Assets</p>
<div class="gridDisplay">
  <div class="group">
     <div class = "grid-top">1</div>
     <div class = "grid-item">1</div>
   </div>

<div class="group">
     <div class = "grid-top">1</div>
     <div class = "grid-item">2</div>
   </div>

<div class="group">
     <div class = "grid-top">1</div>
     <div class = "grid-item">3</div>
</div>

<div class="group">
     <div class = "grid-top">1</div>
     <div class = "grid-item">4</div>
</div>

<div class="group">
     <div class = "grid-top">1</div>
     <div class = "grid-item">5</div>
</div>

<div class="group">
     <div class = "grid-top">1</div>
     <div class = "grid-item">6</div>
</div>

<div class="group">

     <div class = "grid-top">1</div>
     <div class = "grid-item">7</div>
</div>

<div class="group">

     <div class = "grid-top">1</div>
     <div class = "grid-item">8</div>
</div>
</div>

<nav>
  <ul id = "top">
    <li id = brand>SLS</li>
    <li> <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTq8sMo81Iy8BpE4jA3mGdK_slN1Mpeul27c89T0dZR3WV_r9EY">Who</a></li>
    <li> <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTq8sMo81Iy8BpE4jA3mGdK_slN1Mpeul27c89T0dZR3WV_r9EY">Who</a>What</li>
    <li> <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTq8sMo81Iy8BpE4jA3mGdK_slN1Mpeul27c89T0dZR3WV_r9EY">Who</a>Why</li>
  </ul>
</nav>


    <script src="main.js" charset="utf-8"></script>
  </body>
</html>
