<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SLS</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>


    <nav>
      <ul id = "top">
        <li id = brand>SLS</li>
        <li <a href="#"></a>>Who</li>
        <li <a href="#"></a>>What</li>
        <li <a href="#"></a>>Why</li>
      </ul>
    </nav>

    <div id="header">
      <h1>SLS</h1>
    </div>

    <div class="slidesContainer">

<button type="
" name=" but1"</button>
    </div>

    <div class="infoBold">
      <p>SLS is the leading provider in tech for sollutions an quality assurance </p>
    </div>


    <div class="info">
      <p>As the world and technology ever evolve and progress, SLS has been powered powered by a team of motivated profesionals in orer to ensure that top comays are provided with only the best services. We provide consulting and onbaording for  </p>

    </div>


<nav id = "bottom">
  <ul>
    <li>contact us </li>
    <li>locations </li>
    <li>clientelle</li>
  </ul>
</nav>

    <script src="main.js" charset="utf-8"></script>
  </body>
</html>
